footer{
  background: $background;

  #copyright, .links{
    vertical-align:middle;
    display: inline-block;
    width: 49%
  }

  .links{
    text-align: right;
    a{
      color: $title-color;
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 690px) {
  footer .container {
    text-align: center;
    #copyright, .links {
      width: 90%;
      text-align: center;
      margin: 10px auto;
    }
  }
}