{% block footer %}
    <footer>
        <div class="container">
            <p id="copyright">© 2017 Eyenight S.A.S. - ALL RIGHTS RESERVED</p>
            <p class="links"><a href="{{ path('mentions') }}">Mentions légales</a></p>
        </div>
    </footer>

{% endblock %}