{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="mentions">
        <div id="mentions-legales">
            <h2>Mentions Légales</h2>
            <p>
                Ce site est l'entière propriété d'Eyenight. Toute reproduction, même partielle, de ce site est
                strictement interdite.
            </p>
            <p>Le site eyenightapp.com est édité et réalisé par la société Eyenight dont le siège social est sis à :</p>

            <p>
                Eyenight S.A.S.<br/>
                Les Papeteries Image Factory<br/>
                3 Esplanade Augustin Aussedat – Cran Gevrier, 74960 Annecy – France.<br/>
                S.A.S. au capital de 8 960 euros<br/>
                RCS ANNECY 803 667 674 – APE 6201Z – SIREN 818 376 618<br/>
            </p>

            <p>Responsable de la publication : Guillaume Bailly-Salins Webmaster : Alexandre Kauder</p>

            <p>L’hébergement du site est réalisé par la société OVH, 2 rue Kellermann – 59100 Roubaix – France.</p>

            <p>Les dispositions suivantes constituent un accord contractuel entre vous et EyeNight. Par l’accès, la
                navigation ou l’utilisation de ce site Web vous reconnaissez avoir pris connaissance de ces dispositions
                et
                acceptez d’y être soumis. Vous acceptez de vous conformer à la législation et à la réglementation
                applicable, y compris aux lois et réglementations en matière d’exportation et de réexportation. Si vous
                n’acceptez pas ces dispositions, n’utilisez pas ce site Web.</p>


            <p>EyeNight peut, à tout moment et sans préavis, modifier les présentes dispositions ainsi que toute autre
                information figurant sur ce site Web par le biais d’une mise à jour. EyeNight peut également, à tout
                moment
                et sans préavis, apporter des améliorations et/ou des modifications aux produits, services ou programmes
                décrits sur le site.</p>
        </div>
        <div id="acces-au-site">
            <h2>Accès au Site</h2>
            <p>L’accès à l’url eyenightapp.com est gratuit. Les frais d’accès et d’utilisation du réseau de
                télécommunication sont à la charge de tout utilisateur du site, selon les modalités fixées par ses
                fournisseurs d’accès et opérateurs de télécommunication. Il est rappelé que le fait d’accéder ou de se
                maintenir frauduleusement dans un système informatique, d’entraver ou de fausser le fonctionnement d’un
                tel
                système, d’introduire ou de modifier frauduleusement des données dans un système informatique
                constituent
                des délits passibles de sanctions pénales.</p>
        </div>

        <div id="protection-des-donnees">
            <h2>Protection des Données</h2>
            <p>Les données personnelles collectées le sont dans la cadre des dispositions de la déclaration simplifiée
                NS
                48 effectuée auprès de la CNIL sous le numéro 2032431.<br/>
                Les données personnelles ainsi collectées restent confidentielles et ne peuvent être communiquées à des
                tiers. Elles ne sont utilisées que par la société EyeNight.
            <p>

            <p>Vous pouvez exercer votre droit d’accès, de rectification et d’opposition en nous écrivant à l’adresse
                suivante :</p>
            <p>Eyenight S.A.S.<br/>
                Les Papeteries Image Factory<br/>
                3 Esplanade Augustin Aussedat<br/>
                Cran Gevrier, 74960 Annecy – France.</p>
        </div>
        <div id="responsabilite">
            <h2>Contenu du site - Responsabilité</h2>
            <p>EyeNight s’efforce d’assurer l’exactitude et la mise à jour des informations diffusées sur ce site et se
                réserve le droit de modifier, à tout moment et sans préavis, le contenu ou la présentation de ce site.
                EyeNight décline toute responsabilité en cas de retard, d’erreur ou d’omission quant au contenu des
                présentes pages de même qu’en cas d’interruption ou d’indisponibilité du service.</p>
            <p>A ce titre la responsabilité de EyeNight ne saurait en aucun cas être retenue lors de dommages indirects
                quels qu’ils soient. EyeNight ne peut être tenu responsable de toute décision prise sur la base d’une
                information contenue sur ce site, ni de l’utilisation qui pourrait en être faite par des tiers et se
                dégage
                en particulier de toute responsabilité découlant de la transmission d’informations confidentielles sur
                le
                réseau Internet.</p>
            <p>Toute personne désireuse de se procurer un des produits ou services présentés sur le site devra contacter
                EyeNight afin de s’informer de la disponibilité du produit ou service en question ainsi que des
                conditions
                contractuelles et des tarifs qui lui sont applicable.</p>

            <p>Crédit photos et images : Fotolia © tobb8, Apple Inc, Alexandre Kauder.</p>

            <p>Copyright © 2016-2017 EyeNight – Toute utilisation ou reproduction, même partielle, du site et de son
                contenu est strictement interdite sans l’accord express de la société.</p>
        </div>

        <div id="liens-hypertextes">
            <h2>Liens Hypertextes</h2>
            <p>EyeNight n’est pas responsable des liens hypertextes pointant vers le présent site. Les liens hypertextes
                établis en direction d’autres sites à partir de l’adresse eyenightapp.com ne sauraient, en aucun cas,
                engager la responsabilité de Eyenight.</p>

        </div>
        <div id="propriete-intellectuelle">
            <h2>Droits de Propriété Intellectuelle</h2>
            <p>L’ensemble de ce site relève de la législation internationale sur le droit d’auteur, le droit des marques
                et, de façon générale, sur la propriété intellectuelle, en ce qui concerne chacun des éléments de son
                contenu (textes, images, données, dessins, graphiques, photos et bandes sonores, balises métas, codes
                sources…) qu’en ce qui concerne sa forme (choix, plan, disposition des matières, moyens d’accès aux
                données,
                organisation des données…). Ces contenus, figurant sur les pages de ce site, sont la propriété exclusive
                de
                EyeNight.</p>
            <p>La reproduction ou représentation, intégrale ou partielle, des pages, des données, des balises HTML et de
                toute autre élément constitutif au site, par quelque procédé ou support que ce soit, est interdite et
                constitue, sans autorisation expresse et préalable de l’éditeur, une contrefaçon sanctionnée par les
                articles L335-2 et suivants du Code de Propriété Intellectuelle.</p>
            <p>Toute reproduction totale ou partielle de cette marque ou de ces logos, effectuée à partir des éléments
                du
                site sans l’autorisation expresse et préalable de EyeNight, est donc prohibée, au sens de l’article
                L713-2
                du Code de la Propriété Intellectuelle. De même, toute utilisation du contenu et du site à des fins
                illégales fera l’objet de poursuites judiciaires à l’égard des contrevenants.</p>
            <p>Toute reproduction, représentation, diffusion ou rediffusion, en tout ou partie, du contenu de ce site
                sur
                quelque support ou par tout procédé que ce soit, de même que toute vente, revente, retransmission ou
                mise à
                disposition de tiers de quelque manière que ce soit sont interdites. Le non-respect de cette
                interdiction
                constitue une contrefaçon susceptible d’engager la responsabilité civile et pénale du contrefacteur.</p>
        </div>
    </div>
{% endblock %}